.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
}
.App-logo {
  width: 88px;
  height: 88px;
  margin-top: 2em;
  border-radius: 275px;
}
.profile-section {
  display: flex;
  flex-direction: row;
  /* justify-items: center; */
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 0px;
}
.profile-section > .img {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}
.profile-section > .share {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 30%;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
a {
  padding: 1.5em 2em;

  width: 20em;
  text-decoration: none;
  color: #101828;
  text-align: center;
  background-color: rgba(234, 236, 240, 1);
  border-radius: 8px;
}
.icons {
  padding: 2em;
}
.icons > a > img {
  width: 20px;
}
.icons > a {
  padding: 0.5em;
  margin: 2em;
  background: none;
}
.footer {
  padding: 1.5em;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.IFG {
  width: 138.77px;
  height: 18.55px;
  padding: 0;
  margin: 0;
  background: none;
}
hr {
  width: 90%;
}
.Zuri {
  width: 99.1px;
  padding: 0;
  margin: 0;
  height: 24px;
  background: none;
}
.share-icon {
  display: none;
}
@media screen and (min-width: 700px) {
  .share-mobile {
    display: none;
  }
  .share > .share-icon {
    display: flex;
    cursor: pointer;
  }
  .share > .share-icon:hover{
    border-radius: 50px;
      border: 1px solid gray;
      padding: 5px;
  }
  .App {
    width: 100%;
  }
  .profile-section > .img {
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }
  .profile-section > .share {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    width: 30%;
  }
  .links {
    width: 1152px;
  }
  a {
    width: 90%;
  }
  .icons > a {
    margin: 0;
  }
  footer {
    width: 90%;
  }
  p {
    margin: 0;
  }
  .footer {
    width: 90%;
    justify-content: space-between;
    justify-items: baseline;
    flex-direction: row;
  }
}
