@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  font-family: "Inter", sans-serif;
}
.App-logo {
  width: 88px;
  height: 88px;
  margin-top: 2em;
  border-radius: 275px;
}
.second-logo {
  /* display: none; */
  position: absolute;
  top: 0;
}
.App-logo:hover {
  opacity: 0.7;
  transition: 0.5s ease;
  position: relative;
  border: 7px solid rgba(247, 143, 143, 0.386);
}
h2 {
  font-weight: 700;
}
.profile-section {
  display: flex;
  flex-direction: row;
  /* justify-items: center; */
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 0px;
}
.profile-section > .img {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}
.profile-section > .share {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 30%;
}
button {
  width: 50px;
  height: 50px;
}
em {
  font-style: normal;
  margin-top: 0.5em;
  font-size: 13px;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  width: 100%;
}
a {
  display: flex;
  flex-direction: column;
  padding: 1.5em 2em;
  margin: 16px;
  width: 80%;
  text-decoration: none;
  color: #101828;
  text-align: center;
  background-color: rgba(234, 236, 240, 1);
  border-radius: 8px;
}
.icons {
  padding: 2em;
}
.icons > a > img {
  width: 20px;
}
.icons > a {
  padding: 0.5em;
  margin: 2em;
  background: none;
}
.footer {
  padding: 1.5em;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.IFG {
  width: 138.77px;
  height: 18.55px;
  padding: 0;
  margin: 0;
  background: none;
}
hr {
  width: 90%;
}
.Zuri {
  width: 99.1px;
  padding: 0;
  margin: 0;
  height: 24px;
  background: none;
}
.share-icon {
  display: none;
}
.form-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.form > div {
  margin: 0em 1em;
  font-size: 19px;
  /* padding: 1em; */
  width: 80%;
}
.form > div > p {
  color: gray;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}
.names {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.names > div {
  width: 50%;
}
.names > div > input {
  width: 70%;
}
.button {
  display: flex;
}
.check {
  display: flex;
}
.button-tag {
  background-color: blue;
  border: none;
  border-radius: 7px;
  color: white;
  width: 400px;
}
label {
  margin: 0em 1em;
  color: rgb(59, 59, 59);
}
.area {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  border: 0.5px solid gray;
  border-radius: 7px;
  margin: 1em;
  padding: 1em;
  font-family: "Inter", sans-serif;
}
a:hover {
  background-color: rgba(208, 213, 221, 1);
}
input[type="checkbox"] {
  margin: 0 10px;
}
@media screen and (min-width: 700px) {
  .form > div {
    margin: 0em;
    padding: 1em;
  }
  .form-details {
    margin: 2em;
  }
  .button-tag {
    background-color: blue;
    border: none;
    border-radius: 7px;
    color: white;
    margin: 0em 1em;
    width: 84%;
  }
  .form {
    margin: 2em;
  }
  .names > div > input {
    width: 60%;
  }
  .share-mobile {
    display: none;
  }
  .submit {
    margin: 1.5em 0;
  }
  input,
  textarea {
    width: 80%;
  }
  input[type="checkbox"] {
    width: 10px;
  }
  .share > .share-icon {
    display: flex;
    cursor: pointer;
  }
  .share > .share-icon:hover {
    border-radius: 50px;
    border: 1px solid gray;
    padding: 5px;
  }
  .App {
    width: 100%;
  }
  .profile-section > .img {
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }
  .profile-section > .share {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    width: 30%;
  }
  .links {
    width: 1152px;
  }
  a {
    width: 90%;
  }
  .icons > a {
    margin: 0;
  }
  footer {
    width: 90%;
  }
  p {
    margin: 0;
  }
  .footer {
    width: 90%;
    justify-content: space-between;
    justify-items: baseline;
    flex-direction: row;
  }
}
